.character-info {
    width: 100%;
    overflow: hidden;
}
dl {
    width: 100%;
    overflow: hidden;

    dt, dd {
        min-height: 18px;
    }

    dt {
        font-weight: bold;
        float: left;
        margin-right: 20px;
        width: 100px;
    }
    dd {
        display: block;
        overflow: hidden;
        width: calc(100% - 120px);
        margin: 0;
        min-width: 1px;
    }

    ul {
        margin: 0;
        padding-left: 20px;
    }
}